/*
 * exhibition
 */

div.content {
    width:60%;
    margin:0 auto;
}
/*
aside {
    width:20%;
    height:20%;
    position:fixed;
    right:10%;
    border:1px solid #000;
}
*/
.exhibition {
    width:100%;
    text-align:left;
    padding-top:5%;
    padding-bottom:5%;
    border-top:1px solid #000;
}
img.pic {
    width:100%;
}
h1 {font-size:1.2em;}
p {font-size:1.0em;}
