#container {
	text-align:center;
}

.top-decoration {
	margin:0 auto;
}

#logo-ontop-div {
	margin:0 auto;
	height:75px;
}
#logo-ontop {
	max-width:100px;
}

p.top-text {
	font-family:Tahoma;
	font-size:larger;
}

#blank-div {
	height:30px;
}

#mid-container {
	margin:0 auto;
	width:600px;
	height:500px;
	border:1px solid #000;
}

#mid-text-div {
}
@font-face {
	font-family:STXiHei;
	src:url('font/STXiHei.ttf') format('ttf');
	font-style:normal;
	font-weight:normal;
}
p.mid-text {
	text-align:center;
	padding:0px;
	margin-top:25px;
	margin-bottom:8px;
	font-size:small;
	font-family:STXiHei;
}

#mid-pics-div {
	width:600px;
}
.mid-pics {
	max-width:600px;
}
