#container {
	text-align:center;
}

.top-decoration {
	margin:0 auto;
}

#logo-ontop-div {
	margin:0 auto;
	padding-top:15px;
	height:75px;
}
#logo-ontop {
	max-width:100px;
}

p.top-text {
	font-family:Tahoma;
	font-size:larger;
}

#blank-div {
	height:0px;
}

div.mid-max-div {
	width:902px;
	margin:0 auto;
	padding=0;
}
#mid-container {
	margin:0 auto;
	padding:0;
	width:700px;
	height:450px;
	border:1px solid #000;
	float:left;
}
div.arrow-div {
	float:left; height:450px; 
	padding:0; margin:0;
}
img.arrow {
	width:100px; height:100px; 
	padding:0; margin-top:175px;
}

#mid-text-div {
}
@font-face {
	font-family:STXiHei;
	src:url('font/STXiHei.ttf') format('ttf');
	font-style:normal;
	font-weight:normal;
}
p.mid-text {
	text-align:center;
	padding:0px;
	margin-top:12px;
	margin-bottom:5px;
	font-size:small;
	font-family:STXiHei;
}

#mid-pics-div {
	width:700px;
	height:390px;
	overflow:hidden;
}
.mid-pics {
	width:700px;
	height:auto;
}

div.footer {
	width:700px;
	margin:0 auto;
}
ul.footer {
	padding:0;
	padding-bottom:50px;
	margin-top:20px;
}
ul.footer li {
	list-style:none;
	float:left;
	width:25%;
	font-size:small;
}
