#container {
	text-align:center;
}

#top-decoration-div {
	position:relative;
	width:600px;
	height:105px;
}

.top-decoration {
	margin:0 auto;
}

#logo-ontop-div {
	max-width:200px;
	position:absolute;
	top:5px;
	left:240px;
}

#logo-ontop {
	max-width:120px;
}

p.top-text {
	font-family:Tahoma;
	font-size:larger;
}

#mid-container {
	margin:0 auto;
	width:960px;
	height:400px;
	border:1px solid #000;
}
