<!DOCTYPE html>
<html>
<head>
    <title>Announcement&nbsp&nbsp|&nbsp&nbspUrDesign</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
	<!-- Site CSS -->
	<link rel="stylesheet" type="text/css" href="../css/cIndex.css">
	<link rel="stylesheet" type="text/css" href="../css/cAnnouncement.css">
</head>
<body>
    <nav>
        <a href="#">
        <canvas id="myCanvas" width="48px" height="48px">
        </canvas></a>
        <script tyep="text/javascript">
            var c=document.getElementById("myCanvas");
            var ctx=c.getContext("2d");
            ctx.moveTo(0,12); ctx.lineTo(48,12); ctx.stroke();
            ctx.moveTo(0,24); ctx.lineTo(48,24); ctx.stroke();
            ctx.moveTo(0,36); ctx.lineTo(48,36); ctx.stroke();
        </script>
        <span>
            <a href="signIn.html">登录</a>
            <a href="signUp.html">注册</a>
        </span>
        <div class="clear"></div>
    </nav>
    <div class="blank-div"></div>
    <div class="top-decoration" id="logo-ontop-div">
        <a href="../index.html">
            <img class="top-decoration" id="logo-ontop" alt="Logo" src="../images/logo-black.png" />
        </a>
    </div>
    <div class="top-text" id="top-text-div">
        <p class="top-text">Shenzhen UR Interior Design</p>
    </div>
    <div class="blank-div"></div>

    <!-- content -->
    <div class="content">
        <div class="announcement">
            <h1>abcabc</h1>
            <p>
                sdlfkawef;lkasdf;lakwsejfa;sdlkfjasef;lkasjef;aslkefjasdf;lkawsjef;asdlkfjawse;flaksdjfl;asekfjasl;kdfjal;sk efj akl;sefj asiopdjf akl;wsejf aso;dfjasl;kefjL:Sdkfj awl;ekfj as;dfio awsjel;fk ajsdof ijawelkfjasd;flkjasef;lkasjdfio
            </p>
        </div>
        <div class="announcement">
            <h1>bcdbcd</h1>
            <p>
                sdlfkawef;lkasdf;lakwsejfa;sdlkfjasef;lkasjef;aslkefjasdf;lkawsjef;asdlkfjawse;flaksdjfl;asekfjasl;kdfjal;sk efj akl;sefj asiopdjf akl;wsejf aso;dfjasl;kefj
            </p>
        </div>
        <div class="announcement">
            <h1>cdecde</h1>
            <p>
                sdlfkawef;lkasdf;lakwsejfa;sdlkfjasef;lkasjef;aslkefjasdf;lkawsjef;asdlkfjawse;flaksdjfl;asekfjasl;kdfjal;sk efj akl;sefj asiopdjf akl;wsejf aso;dfjasl;kefj
            </p>
        </div>
        <div class="announcement">
            <h1>defdef</h1>
            <p>
                sdlfkawef;lkasdf;lakwsejfa;sdlkfjasef;lkasjef;aslkefjasdf;lkawsjef;asdlkfjawse;flaksdjfl;asekfjasl;kdfjal;sk efj akl;sefj asiopdjf akl;wsejf aso;dfjasl;kefj
            </p>
        </div>
    </div>

    <div class="blank-div"></div>

    <!-- footer -->
    <footer class="footer">
        <ul class="footer">
            <li><a href="announcement.html">公告</a></li>
            <li><a href="team.html">团队</a></li>
            <li><a href="contactUs.html">联络我们</a></li>
            <li><a href="branch.html">分支</a></li>
        </ul>
    </footer>
</body>
</html>
