<!DOCTYPE html>
<html>
<head>
    <title>Exhibition&nbsp&nbsp|&nbsp&nbspUrDesign</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/cIndex.css">
	<link rel="stylesheet" type="text/css" href="../css/cExhibition.css">
</head>
<body>
    <nav>
        <a href="#">
        <canvas id="myCanvas" width="48px" height="48px">
        </canvas></a>
        <script tyep="text/javascript">
            var c=document.getElementById("myCanvas");
            var ctx=c.getContext("2d");
            ctx.moveTo(0,12); ctx.lineTo(48,12); ctx.stroke();
            ctx.moveTo(0,24); ctx.lineTo(48,24); ctx.stroke();
            ctx.moveTo(0,36); ctx.lineTo(48,36); ctx.stroke();
        </script>
        <span>
            <a href="signIn.html">登录</a>
            <a href="signUp.html">注册</a>
        </span>
        <div class="clear"></div>
    </nav>
    <div class="blank-div"></div>
    <div class="top-decoration" id="logo-ontop-div">
        <a href="../index.html">
            <img class="top-decoration" id="logo-ontop" alt="Logo" src="../images/logo-black.png" />
        </a>
    </div>
    <div class="top-text" id="top-text-div">
        <p class="top-text">Shenzhen UR Interior Design</p>
    </div>
    <div class="blank-div"></div>

    <div class="content">
        <div class="exhibition">
            <img class="pic" src="../images/1.jpg" alt="私宅" />
            <section class="display">
                <h1>私宅</h1>
                <p>Description about this section</p>
            </section>
        </div>
        <div class="exhibition">
            <img class="pic" src="../images/2.jpg" alt="商业" />
            <section class="display">
                <h1>商业</h1>
                <p>Description about this section</p>
            </section>
        </div>
        <div class="exhibition">
            <img class="pic" src="../images/3.jpg" alt="软装" />
            <section class="display">
                <h1>软装</h1>
                <p>Description about this section</p>
            </section>
        </div>
        <div class="exhibition">
            <img class="pic" src="../images/4.jpg" alt="室内" />
            <section class="display">
                <h1>施工项目</h1>
                <p>Description about this section</p>
            </section>
        </div>
        <!-- <aside>
        </aside> -->
        <div class="clear"></div>
    </div>

    <div class="blank-div"></div>

    <!-- footer -->
    <footer class="footer">
        <ul class="footer">
            <li><a href="announcement.html">公告</a></li>
            <li><a href="team.html">团队</a></li>
            <li><a href="contactUs.html">联络我们</a></li>
            <li><a href="branch.html">分支</a></li>
        </ul>
    </footer>
</body>
</html>
