<!DOCTYPE html>
<html>
<head>
    <title>Sign in&nbsp&nbsp|&nbsp&nbspUrDesign</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
	<!-- Site CSS -->
	<link rel="stylesheet" type="text/css" href="../css/cIndex.css">
	<link rel="stylesheet" type="text/css" href="../css/cSignIn.css">
	<!-- Site js -->
	<script src="../js/jslib.js"></script>
	<script src="../js/jsurdesign.js"></script>
</head>
<body>
    <nav>
        <div class="sCanvas" id="sCanvas">
            <canvas id="myCanvas" width="48px" height="48px" 
                onmouseover="displayUl();">
            </canvas>
            <ul id="downUl" onmouseout="hideUl()">
                <li onclick="signOut();">退出</li>
            </ul>
            <div class="clear"></div>
        </div>
        <span class="sRight">
            <?php
            session_start();
            if(isset($_SESSION['username'])) {
                // 已登录
                $username=$_SESSION['username'];
                echo "Hello, "."$username"." !";
            }else {
                // 未登录
                echo '<a href="views/signIn.html">登录</a> <a href="views/signUp.html">注册</a>';
            }
            ?>
        </span>
        <div class="clear"></div>
    </nav>
    <div class="blank-div"></div>
    <div class="top-decoration" id="logo-ontop-div">
        <a href="../index.html">
            <img class="top-decoration" id="logo-ontop" alt="Logo" src="../images/logo-black.png" />
        </a>
    </div>
    <div class="top-text" id="top-text-div">
        <p class="top-text">Shenzhen UR Interior Design</p>
    </div>
    <div class="blank-div"></div>

    <form action="../php/signIn.php" method="post">
        <div class="sheet-div">
            <h1>Welcome back !</h1>
            <span>Sign in with your Email Address </span>
                <a href="#"><strong>here</strong></a>.
            </br></br></br>
            <p class="title">Phone Number</p>
            <input id="phoneNumber" name="phoneNumber" type="text" required 
            pattern="^\d{11}$" 
            oninvalid="setCustomValidity('请输入正确的手机号码')"/><br/>
            <br/>
            <p class="title">Password</p>
            <input id="password" name="password" type="password" required 
            pattern="\w{6,15}" 
            oninvalid="setCustomValidity('6-15位数字、字母和下划线')"/><br/>
        </div>
        <br/>
        <br /><br /><br /><br />
        <div class="btn-div">
            <input id="btnSubmit" name="submit" type="submit" value="Sign in" />
            <span>  or  </span>
            <input id="btnReset" type="reset" value="leave it" />
        </div>
    </form>
    <div class="blank-div"></div>

    <!-- footer -->
    <footer class="footer">
        <ul class="footer">
            <li><a href="announcement.html">公告</a></li>
            <li><a href="team.html">团队</a></li>
            <li><a href="contactUs.html">联络我们</a></li>
            <li><a href="branch.html">分支</a></li>
        </ul>
    </footer>
</body>
</html>
