<!DOCTYPE html>
<html>
<head>
    <title>Team&nbsp&nbsp|&nbsp&nbspUrDesign</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- show icon -->
    <link rel="shortcut icon" href="../favicon.ico">
	<!-- Site CSS -->
	<link rel="stylesheet" type="text/css" href="../css/cIndex.css">
	<link rel="stylesheet" type="text/css" href="../css/cTeam.css">
	<!-- Site js -->
	<script src="../js/jslib.js"></script>
	<script src="../js/jsurdesign.js"></script>
</head>
<body>
    <nav>
        <div class="sCanvas" id="sCanvas">
            <canvas id="myCanvas" width="48px" height="48px" 
                onmouseover="displayUl();">
            </canvas>
            <ul id="downUl" onmouseout="hideUl()">
                <li onclick="signOut();">退出</li>
            </ul>
            <div class="clear"></div>
        </div>
        <span class="sRight">
            <?php
            session_start();
            if(isset($_SESSION['username'])) {
                // 已登录
                $username=$_SESSION['username'];
                echo "Hello, "."$username"." !";
            }else {
                // 未登录
                echo '<a href="../views/signIn.html">登录</a> <a href="../views/signUp.html">注册</a>';
            }
            ?>
        </span>
        <div class="clear"></div>
    </nav>
    <div class="blank-div"></div>
    <div class="top-decoration" id="logo-ontop-div">
        <a href="../index.html">
            <img class="top-decoration" id="logo-ontop" alt="Logo" src="../images/logo-black.png" />
        </a>
    </div>
    <div class="top-text" id="top-text-div">
        <p class="top-text">Shenzhen UR Interior Design</p>
    </div>
    <div class="blank-div"></div>

    <!-- content -->
    <div class="content">
        <div class="pic-div">
            <img src="../images/teampage.jpg" alt="teampage" />
            <div class="clear"></div>
        </div>
        <div class="des-div">
            <h1>UR Design<br/>有仁室内设计有限公司</h1>
            <br/>
            <p>
                UR Design 亦为 "Your" Design，以你为主，一切的设计都是从你的生活展开。<br/><br/>UR优势不在出图的速度或者是跟市场去打价格战；体力不贵，画图不难，但我们坚持不将设计模式化，常规化;<br/><br/>UR擅长的是让每个经我们手的空间，都有我们灌注的生活情怀与温度;<br/><br/>UR相信沟通想法，再通过能力和技巧，从而解决客户的问题;<br/><br/>UR追求的是不辜负每个对生活有态度，对空间有追求的你。
            </p>
        </div>
    </div>

    <div class="blank-div"></div>

    <!-- footer -->
    <footer class="footer">
        <ul class="footer">
            <li><a href="announcement.html">公告</a></li>
            <li><a href="team.html">团队</a></li>
            <li><a href="contactUs.html">联络我们</a></li>
            <li><a href="branch.html">分支</a></li>
        </ul>
    </footer>
</body>
</html>
